@charset "utf-8";

*{    
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.package{
    width: 100%;
    height: 100%;
    overflow:hidden;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

iframe{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transition:all 0.5s linear 0s;
    -o-transition:all 0.5s linear 0s;
    -webkit-transition:all 0.5s linear 0s;
    -moz-transition:all 0.5s linear 0s;
}

iframe{
     animation:fadeIn 1s 0s ease both;
    -webkit-animation:fadeIn 1s 0s ease both;
	-moz-animation:fadeIn 1s 0s ease both;   
}


